.booking {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.movie-list {
  width: 250px;
  overflow-y: scroll;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  perspective: 1000px; 
  transition: transform 0.3s ease-in-out;
}

.movie-list::-webkit-scrollbar {
  display: none;
}

.movie-list {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.movie-list:hover {
  transform: rotateY(-10deg);
}

.movie-item {
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: rotateY(10deg);
}

.movie-item img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.movie-item p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.movie-item:hover {
  transform: scale(1.05) rotateY(0deg);
}
.movie-item img:hover {
  transform: scale(1.05);
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #fff;
}

.MTheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-info,
.default-movie-info {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.movie-info img,
.default-movie-info img {
  width: 160px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.default-movie-info p {
  font-size: 18px;
  color: #333;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.total-price {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.steps-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.step {
  width:  600px;
  
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.step p {
  margin: 0 0 10px;
  font-weight: bold;
}

.step-button {
  margin-bottom: 5px;
  padding: 20px 35px;
  background-color: #d3d3d3;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-size: 17px;
}

.step-button:hover {
  background-color: #b3b3b3;
  transform: scale(1.05);
}
<<<<<<< HEAD

.step-button.selected {
=======
.step-button:focus{
>>>>>>> wongi11
  background-color: #007BFF;
  color: white;
}




.seat-selection {
  display: flex;
  flex-direction: column;
  gap:  10px;
}

.seat-selection label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.seat-selection input {
  width: 50px;
  padding: 5px;
  font-size: 16px;
}

.seat-selection input[type="number"] {
  width: 60px;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.seat-selection input[type="number"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.screen {
  text-align: center;
  margin-bottom: 20px;
  
}

.seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.seat-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.row-label {
  margin-right: 10px;
  font-weight: bold;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seat.selected {
  background-color: green;
  transform: scale(1.1);
}
/* 예매된 좌석 스타일 (비활성화)*/
.seat.booked {
  background-color: red;
  cursor: not-allowed;
}

.seat:disabled {
  background-color: red;
  cursor: not-allowed;
}

.seat:hover:not(:disabled):not(.selected) {
  background-color: #bbb;
  transform: scale(1.05);
}

.notice {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.notice p {
  margin: 0 0 10px;
}

.notice ol {
  padding-left: 20px;
}

.notice th dd {
  text-align: center;
}

.confirm-button {
  display: block;
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.confirm-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.moviescreen {
  background-color: #ccc;
  width: 500px;
  margin: auto;
  
}
.resetbutton {
  text-align: right;
  margin-right: 5px;
  margin-bottom: 10px;
  
  
}
.resetbutton button {
  background-color: #444;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.resetbutton button:hover {
  transform: scale(1.05);
  background-color: #333;
}

.mtcalendar button {
  background-color: #ccc;
  
  
}
.react-calendar__navigation{
  margin-bottom: 30px;
  
}

.react-calendar__tile--active {
  background-color: #007BFF !important;
  color: white !important;
}

.react-calendar__tile--selectable {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.react-calendar__tile--disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
}


